@{
    ViewData["Title"] = "Home Page";
    var currentTime = DateTime.Now;
    var name = TimeZone.CurrentTimeZone.StandardName;
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>
            @currentTime
        </h2>
        <h2>
            @name
        </h2>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
